<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398685992086-keqe5pgqks4vp4851sthpekdu80sfljo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398685992086-keqe5pgqks4vp4851sthpekdu80sfljo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398685992086-72mb53k3924t1mhci35li4mlkstsp7js.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVODDLLIzP8pu2JZnOYpM7ot_g9qZKtZk</string>
	<key>GCM_SENDER_ID</key>
	<string>398685992086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axsosntech.letsgetorganized</string>
	<key>PROJECT_ID</key>
	<string>organize-me-dca64</string>
	<key>STORAGE_BUCKET</key>
	<string>organize-me-dca64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398685992086:ios:2b3c5df07014bb93987eb7</string>
</dict>
</plist>